<footer class="footer">
  <div class="footer-arrow"> <a href="#start">
    <img src="./assets/images/ico-arrow.svg"
      alt="scroll icon"
      title="Move to Main Title"
  /></a></div>
  

<nav class ="nav">
  <div class="recommendations">
    <ul>
     <a href="https://adalab.es/" class="link" title="Visit Adalab"><li>articles</li></a>
       <a href="https://adalab.es/" class="link" title="Visit Adalab"><li>books</li></a>
      <a href="https://adalab.es/" class="link" title="Visit Adalab"><li>events</li></a>
     <a href="https://adalab.es/" class="link" title="Visit Adalab"> <li>reasons</li></a>
    </ul>
  </div>
  <div class="social">
    <ul>
      <a href="https://adalab.es/" class="link" title="Visit Adalab"><li>twitter</li></a>
      <a href="https://adalab.es/" class="link" title="Visit Adalab"><li>instagram</li></a>
        <a href="https://adalab.es/" class="link" title="Visit Adalab"><li>mastodon social</li></a>
    </ul>
  </div>
  <div class="final"> 
    <div class="copy">&copy;2021</div> 
  <div class="reference">we love &#9829 components</div> 
</div>
</nav>
</footer>
