<footer class="footer">
  <div class="footer-arrow"> <a href="#title1">
    <img src="./assets/images/ico-arrow.svg"
      alt="scroll icon"
      title="Move to 3 Reasons to purchase"
  /></a></div>
  <div class="recommendations"></div>
    <ul>
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reasons</li>
    </ul>
  </div>
  <div class="social">
    <ul>
      <li>twitter</li>
      <li>instagram</li>
      <li>mastodon social</li>
    </ul>
  </div>
  <div class="final"> 
    <div class="copy">&copy;2021</div> 
  <div class="reference">we love aqui va un corazón components</div> 
</div>
</footer>
