<footer class="footer">
  <div class="footer-arrow"> <a href="#title1">
    <img src="./assets/images/ico-arrow.svg"
      alt="scroll icon"
      title="Move to Main Title"
  /></a></div>
  <div class="recommendations"></div>
    <ul>
     <a href="https://adalab.es/" class="link"><li>articles</li></a>
       <a href="https://adalab.es/" class="link"><li>books</li></a>
      <a href="https://adalab.es/" class="link"><li>events</li></a>
     <a href="https://adalab.es/" class="link"> <li>reasons</li></a>
    </ul>
  </div>
  <div class="social">
    <ul>
      <a href="https://adalab.es/" class="link"><li>twitter</li></a>
      <a href="https://adalab.es/" class="link"><li>instagram</li></a>
        <a href="https://adalab.es/" class="link"><li>mastodon social</li></a>
    </ul>
  </div>
  <div class="final"> 
    <div class="copy">&copy;2021</div> 
  <div class="reference">we love &#9829 components</div> 
</div>
</footer>
