<header class="header">
  <div class="menu-icon">
    <a href="https://adalab.es/"
      ><img
        src="./assets/images/ico-menu.svg"
        alt="menu icon"
        title="menu icon"
    /></a>
  </div>
  <div id="start"></div>

  <div class="title">
    <h1 class="title1">Anonymous proxy</h1>
    <h3 class="title2">In hac habitasse platea dictumst</h3>

    <div class="icon">
      <a href="#reasons-title">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="scroll icon"
          title="Move to 3 Reasons to purchase"
      /></a>
    </div>
  </div>
</header>
