<main class="main">
  <article class="article">
    <small>Insomnia tips</small>
    <h3 class="header3">Looking through a window</h3>
    <p class="text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="button" type="button" onclick="alert('Go')">Go</button>
  </article>

  <article class="reasons">
    <h3>3 reasons tu purchase</h3>

    Ut sed metus Lorem ipsum dolor sit amet, conscteur. Curabitur ac erat Mauris
    mattis uma quis lorem molestie Morbi dictum Aliquam in dolor et dolor
    tincidunt
  </article>
</main>
