<main class="main">
  <article class="main__article"></article>
    <section class="main__article--container">
    <small class="main__article--insomnia">Insomnia tips</small>
    <h3 class="main__article--header3">Looking through a window</h3>
    <p class="main__article--text">
      Donec accumsan, nulla ut volutpat portitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a href="https://adalab.es/" class="main__article--button1"><button>Go</button></a>
    </section>
  </article>
<div class="main__iceblue">
  <article class="main__iceblue--mainpurchase">
    <section class="main__iceblue--mainpurchase-purchasecontainer"> 
      <div class="purchase reason-title">
        <h3 id="reasons-title">3 reasons to purchase</h3>
      </div>
      <div class="purchase-corpus">
      <div class="purchase reason1"> 
        <h4 class="title4">Ut sed metus</h4><p class="reason-text">Lorem ipsum dolor sit amet, conscteur.</p>
      </div> 
      <div class="purchase reason2"> 
        <h4 class="title4">Curabitur ac erat</h4> <p class="reason-text">Mauris mattis uma quis lorem molestie.</p>
      </div>
      <div class="purchase reason3">
      <h4>Morbi dictum</h4 class="title4"><p class="reason-text">Aliquam in dolor et dolor tincidunt.</p>
      </div>
      </div> 
      <div class="purchase button2"> 
        <div class="button2-style">
        <a href="https://adalab.es/" class="button-link" >More reasons</a>
      </div>
     
    </div>  
    </section>
  </article>
</div>   
  
</main>
