<main class="main">
  <article class="article">
    <section class="container">
    <small class="insomnia">Insomnia tips</small>
    <h3 class="header3">Looking through a window</h3>
    <p class="text">
      Donec accumsan, nulla ut volutpat portitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a href="https://adalab.es/"><button class="button1">Go</button></a>
  </section>
  </article>
<div class="ice-blue">
  <article class="main-purchase">
    <section class="purchase-container"> 
      <div class="purchase title"><h3 id="reasons-title">3 reasons to purchase</h3>
      </div>
      <div class="purchase reason1">
        <h4 class="title4"> Ut sed metus</h4><p class="reason-text"> Lorem ipsum dolor sit amet, conscteur.</p>
      </div> 
      <div class="purchase reason2"> <h4 class="title4">Curabitur ac erat</h4> <p class="reason-text">Mauris mattis uma quis lorem molestie.</p></div>
      <div class="purchase reason3">
      <h4>Morbi dictum</h4 class="title4"> <p class="reason-text"> Aliquam in dolor et
        dolor tincidunt.</p></div>
        <div class="purchase button2"> <a href="">More reasons</a>
        </div>   
    </section>
  </article>
</div>   
  
</main>
