.footer {
  position: relative;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-transform: uppercase;
  font-family: "Roboto-Regular";
}
.footer-arrow {
  height: 45px;
  width: 45px;
  font-size: 24px;
  background-color: white;
  // display: inline-block;
  box-shadow: 0 2px 4px 0;
  align-content: center;
  transform: translate(3%, -25px);
  text-align: center;
  line-height: 50px;
  position: relative;
  border-radius: 50%;
}
ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: white;
  text-align: center;
}

.recommendations {
  margin-top: 60px;
}

.social {
  margin-top: 30px;
  margin-right: 123px;
  margin-left: 123px;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: lowercase;
  margin-top: 30px;
  margin-bottom: 45px;
  font-family: "Roboto", sans-serif;
}
.reference {
  margin-top: 5px;
  font-size: 14px;
}
.link {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 16px;
}
