body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/cover.jpg");
  height: 100vw;
  width: auto;
  margin-top: 0px;
  text-align: center;
}

.header-image {
  width: 100vw;
  height: 100vh;
}
/*
.header-image {
  // height: 100%;
  // width: auto;
  width: 100vw;
  height: 568px;
}
*/
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "Roboto Slab", serif;
  z-index: 1;
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.title1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.title2 {
  font-family: $font-main;
  color: white;
  font-size: 16px;
}
.icon {
  height: 45px;
  width: 45px;
  background-color: white;
  display: inline-block;
  align-content: center;
  margin-top: 45px;
  border-radius: 45%;
  line-height: 45px;
  position: absolute;
  transform: translateY(260px);
}
.menu-icon {
  background-color: #0271bc;
  display: inline-block;
  top: 0px;
  left: 0px;
  height: 44px;
  width: 44px;
  /*centra las hamburgesas en contenedor azul hay que poner el mismo alto del tamaño del contendor*/
  line-height: 44px;
  position: fixed;
}
@media screen and (min-width: 768px) {
  .title1 {
    font-size: 80px;
    line-height: normal;
  }
}
