body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.header {
  // position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  height: 468px;
  width: 100vw;
  margin-top: 0;
  text-align: center;
}
.title {
  font-family: "RobotoSlab";
  z-index: 1;
}
.title1 {
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.title2 {
  font-family: "Roboto";
  color: white;
  font-size: 16px;
}
