.main {
  /*position: absolute;*/
  position: relative;
  height: 100vh;
  width: 100vw;
  // top: 50px;
  background-color: white;
  // z-index: -1;
  text-align: center;
  margin-top: 300px;
}
.insomnia {
  font-family: "Roboto-Regular";
  color: #8ccbea;
  font-size: 14px;
  line-height: 30px;
}
.header3 {
  font-family: "RobotoSlab-Bold";
  font-size: 24px;
  line-height: 30px;
  color: black;
  margin: 1px 60px 15p 60px;
}

.button {
  width: 76px;
  height: 45px;
  border: 2px #f26002 solid;
  color: #f26002;
  padding: 0 25px 0 26px;
  margin-top: 30px;
  border-radius: 22.5px;
  background-color: white;
}
/*está dentro de article, se podría anidar con ben*/
.text {
  color: #4a4a4a;
  font-family: "Roboto-Regular";
  font-size: 18px;
  line-height: 30px;
}

.article {
  position: relative;
  text-align: left;
  margin: 30px 15px 0px 15px;
  padding: 15px;
}

.purchase {
  position: relative;
  top: 0px;
  border: 2px solid red;
  height: 300px;
}
.reasons {
  margin: 0px 20px;
}
